/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cousine');

:root {
    --primary-text-color: #004785;
    --secondary-text-color: #00274A;
    --highlight-text-color: #fff;
    --primary-color: #488fcd;
    --secondary-color: #00274A;
    --highlight-color: #D18000;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;    
}

body {
    background: #fbfbfb;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: var(--primary-text-color);
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small, .text_small {
    font-size: 0.8em;
}

header h1 {
    margin: 0;
}

main p {
    margin-bottom: 0;
}

.container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
            "logo"
            "menu"
            "hero"
            "content"
            "sidebar"
            "portfolio"
            "footer";
}


.logo {
    grid-area: logo;
    justify-content: center;
}

.logo img {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.main-menu {
    grid-area: menu;
    font-size: 18px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding-bottom: 10px;
    
}

.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: #fff;
}


.main-nav li {
    margin: 15px auto;
    text-align: center;
}

.main-nav a:hover {
    color: var(--secondary-text-color);
}

.navbar-toggle {
    display: block;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

#chkToggle {
    display: none;
}

#chkToggle:checked + ul.main-nav {
    display: block;
}


.content-area {
    grid-area: content;
}


.hero {
    grid-area: hero;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9GR);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
}

.hero-inner {
    max-width: 80vw;
    margin: auto;
    padding-left: .5rem;
}

.hero-inner h2 {
    font-size: 2.44em;
    font-family: 'Cousine', monospace;
    text-align: center;
    color: #fff;
    line-height: 1.2;
}

.hero-inner h3 {
    font-size: 1.95em;
    font-family: 'Cousine', monospace;
    text-align: center;
    color: #fff;
    line-height: 1.2;
}

.features {
    box-sizing: border-box;
    padding: 20px;
    color: var(--highlight-text-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
}

.feature {
    background-color: var(--secondary-color);
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.feature-img {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.feature h3 {
    font-size: 1.8em;
    margin-top: -0.05em;
    text-align: center;
}


.portfolio-wrapper {
    grid-area: portfolio;
    padding: 20px;
}

.artwork > div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.artwork > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artwork {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: 150px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}


.sidebar {
    grid-area: sidebar;
    padding: 1rem;
    background-color: #9ccdf2;
}

.sidebar > h3 {
    font-size: 1.5em;
}


.footer {
    grid-area: footer;
    grid-gap: 2rem;
    background-color: var(--primary-color);
    color: #fff;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "footer-logo"
        "footer-social"
        "footer-links"
        "copyright";
    align-items: center;
}

.footer-logo-box {
    grid-area: footer-logo;
}

.footer-logo-box img {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.footer-social-box {
    grid-area: footer-social;
}

.social-inner {
    display: grid;
    max-width: 320px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
}

.footer-social-box h4 {
    padding: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 1.25em;
}

.footer-social-box a {
    text-decoration: none;
}

#social_media {
    color: #fff;
    font-size: 2em;
}


.footer-links-box {
    grid-area: footer-links;
    text-align: center;
}

.footer-links-box a {
    text-decoration: none;
    color: #fff;
}

.footer-links-box a:hover {
    color: var(--secondary-text-color);
}



.copyright {
    grid-area: copyright;
}


#copyright {
    text-align: center;
}

#copyright a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 500px) {
    .container {
        margin: 0 2rem;
        grid-gap: 2rem 1rem;
        grid-template: 3fr 1fr;
        grid-template-areas: 
            "logo logo"
            "menu menu"
            "hero hero"
            "content sidebar"
            "portfolio portfolio"
            "footer footer";
    }

    .feature-img {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .artwork {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 200px;
    }
}

@media (min-width: 700px) {
    .container {
        margin-top: 2rem;
        grid-gap: 2rem 1rem;
        grid-template-columns: 4fr 6fr 2fr;
        grid-template-rows: 4rem;
        grid-template-areas: 
        "logo menu menu"
        "hero hero hero"
        "content content content"
        "portfolio portfolio portfolio"
        "footer footer footer";
    }

    .logo img {
        max-width: 350px;
        margin-top: 0;
        padding-top: 0;
    }

    .main-menu {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        align-items: center;
        justify-content: flex-end;
    }

    #chkToggle:checked + ul.main-nav {
        display: flex;
    }


    .main-nav {
        display: flex;
        flex-direction: row;
        margin-right: 30px;
    }

    .nav-links {
        margin-left: 40px;
    }

    .navbar-toggle {
        display: none;
    }

    .hero-inner {
        max-width: 50vw;
        margin: 0;
        padding-left: 2rem;
    }

    .hero-inner h2 {
        font-size: 3.1em;
        text-align: left;
        line-height: 1.2;
    }

    .hero-inner h3 {
        font-size: 2em;
        font-family: 'Cousine', monospace;
        text-align: center;
        color: #fff;
        line-height: 1.2;
    }

    .features {
        box-sizing: border-box;
        padding: 20px;
        color: var(--highlight-text-color);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 20px;
    }
    

.feature-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}



    .footer-box img {
        max-width: 150px;
    }

    .social-inner {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

}


